.country-logo{
    width: 100px;
}
.about-article{
    margin-top: 40px;
    margin-bottom: 40px;
}
#about-txt{
    font-size: 18px;
}
#fasny-img{
    width: 60px;
}
#colby-img{
    width: 100px;
}
#flatiron-img{
    width: 120px;
}
.education-row{
    margin-bottom: 20px;
}
#about-educational{
    background-color: #E8E1D9;
    padding: 100px;
}
#about-personal{
    padding: 100px;
}
#about-professional{
    padding: 100px;
}
.section-container{
    margin-bottom: 80px;
}
.icon{
    height: 100px;
}
.icon2{
    height: 40px;
    margin-bottom: 10px;
}
.icon2 + p{
    font-size: 15px;
}
#about-jumbo{
    background-image: url("./Images/Zermatt.jpg");
    background-position-y: 25%;
    background-size: cover;
    background-attachment: fixed;
    /* height: 200vh; */
    position: relative;
    border-bottom: 3px black solid;
    padding-top: 40px;
}
#casual-profile-img{
    height: 150px;
    width: 150px;
    border: 2px black solid;
    margin: auto;
    border-radius: 30%;
    background-image: url("./Images/Casual_Profile.jpeg");
    background-size: 300%;
    background-position: top 60% right 52%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#about-jumbo h1{
    font-size: 100px;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}

#about-jumbo h2{
    font-size: 80px;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}
#about-jumbo h3{
    font-size: 55px;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
}
#about-jumbo h4{
    font-size: 30px;
    font-family: 'Chakra Petch', sans-serif;
    /* color: white; */
    margin-bottom: 30px;
}
.about-list{
    /* color:white */
    font-family: 'Chakra Petch', sans-serif;
    font-size: 30px;


}
/* .language-box{
    transition: border-left linear 1s;
} */
/* .language-box:hover{
    border-left: white solid 1px;
} */

hr {
    color: white;
}
.about-container{
    margin-top: 50px;
    margin-bottom: 50px;
}
#levaud{
    background-image: url('./Images/levaud.jpeg');
    background-size: cover;
    background-position: top -50px right;
}
#rye{
    background-image: url('./Images/rye.jpeg');
    background-size: cover;
    background-position: center;
}
#queens{
    background-image: url('./Images/astoria.jpeg');
    background-size: cover;
    background-position: center;
}
#bogota{
    background-image: url('./Images/bogota.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: local, scroll;
}
.country-img{
    height: 80px;
    margin-bottom: 30px;
    color: white;
    text-align: left;
    font-weight: bold;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.about-container > .col{
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: 10px 10px 0px 3px rgba(0,0,100,0.75);
    -moz-box-shadow: 10px 10px 0px 3px rgba(0,0,100,0.75);
    box-shadow: 10px 10px 0px 3px rgba(100,100,100,0.65);
    margin: 10px;
    padding: 15px;

}
.language-bar{
    height: 30px;
    background-color: lightgray;
    border-radius: 3px;
    margin-bottom: 40px;
}
.language-label{
    margin-bottom: 0px;
}
#french{
    height:30px;
    background-color: lightblue;
    border-radius: 3px;
}
#english{
    height:30px;
    background-color: maroon;
    border-radius: 3px;
}
#german{
    height:30px;
    background-color: orange;
    border-radius: 3px;
}
.highlight-box{
    background-color: lightgray;
    border-radius: 5px;
    padding: 15px;
}

.excel-img{
    height: 35px;
    margin-right: 25px;
}
.odd-row{
    background-color: lightgray;
}
.skill{
    padding: 15px;
}