#project-carousel{
    width: 50%;
    padding: 40px;
    margin: auto;
}
.project-card{
    padding: 25px;
    border: 1px black solid;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.project-logo{
    width: 300px;
    margin: auto;
}
.proj-link{
    text-decoration: none;
    color: black;
}
.proj-link:hover{
    cursor: pointer;
}