#project-carousel{
    width: 50%;
    padding: 40px;
    margin: auto;
}
.project-card{
    padding: 25px;
}
.project-logo{
    width: 300px;
    margin: auto;
}
.proj-link{
    text-decoration: none;
    color: black;
}
.proj-link:hover{
    cursor: pointer;
}